<h2>Страница ввода данных</h2>

<form action="/input" method="POST">
		<div class="mb-3">
	    <label for="input masins" class="form-label">Введите номер маршрута</label>
	    <input type="text" name="nomer_marshruta" class="form-control" value= "<%=@nomer_marshruta%>" placeholder="Введите номер маршрута">
	  </div>


	  <div class="mb-3">
	    <label for="input masins" class="form-label">Количество машин</label>
	    <input type="text" name="mashins" class="form-control" value= "<%=@mashins%>" placeholder="Введите кол-во машин">
	  </div>

	  <div class="mb-3">
	    <label for="input time_krug"  class="form-label">Время полного круга в мин: </label>
	    <input type="text" name="time_krug" value="<%=@time_krug%>" class="form-control" placeholder="Введите время полного круга в мин:">
	  </div>

	  <div class="mb-3">
	    <label for="input time_krug"  class="form-label">Время на отдых в мин: </label>
	    <input type="text" name="time_otdih" value="<%=@time_otdih%>" class="form-control" placeholder="Введите время на отдых в мин:">
	  </div>

	  <div class="container" style="margin-top:7px;">
		<div class="row">
	        
	            <div class="form-group registration-date">
	                <label class="control-label col-sm-3" for="registration-date">Время отправления первой машины:</label>
	            	<div class="input-group registration-date-time" style="margin-right: 400px;">
	            		
	            		
	            		<span class="input-group-addon" id="basic-addon1">
	            		<span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
	            		<input class="form-control" name="time_van" id="registration-time" type="time" value="<%=@time_van%>" >
	            		
	            	</div>
	            </div>
	        
		 </div>
      </div>

      <div class="container" style="margin-top:7px;">
		<div class="row">
	        
	            <div class="form-group registration-date">
	                <label class="control-label col-sm-3" for="registration-date">Время отправления последней машины:</label>
	            	<div class="input-group registration-date-time" style="margin-right: 400px;">
	            		
	            		
	            		<span class="input-group-addon" id="basic-addon1">
	            		<span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
	            		<input class="form-control" name="time_posled" id="registration-time" type="time" value="<%=@time_posled%>" >
	            		
	            	</div>
	            </div>
	        
		 </div>
      </div>
	  

	  <button type="submit" class="btn btn-primary">Submit</button>




	 <div class="mb-3">
	    <label for="input rastime" class="form-label">Расчетный промежуток между машинами <%=@prom%> минут </label>
	    <input type="text" name="otvet" class="form-control" value="<%=@prom%>" placeholder="Расчетный промежуток">
	 </div>

	 <button type="submit" class="btn btn-primary">Вывести таблицу</button>


</form>