<div class="mb-3">
<h3>Маршрут №: <%= @nomer_marshruta %></h3>
<p>Время между машинами: <%=@otvet%> минут,  Время на круг: <%=  @tp_krug %> мин</p>
</div>

<% j=1 %>

<table class="table table-striped table-bordered">

		<thead>
		    <tr>
		    	<th scope="col">#</th>
		    	<% 1.upto(@mashins.to_i) do |i| %>
		      		<th scope="col" style="text-align: center;"> <%= i %> </th>
		      	<% end %>
		    </tr>
		</thead>	
		<tbody>
	<% loop do %>

		<tr>
			<th scope="row"><%= j %></th>
			<% @mashins.to_i.times do %>

				<% @t0_str = t_str @t0 %>
			    <% @t1_str = t_str @t1 %>

			    <td style="text-align: center;"> 

			    	<% if @t0 <= @t3 %>
				        <b><%= @t0_str %></b> <br/>
				        <i>  <%= @t1_str %> </i>

				        <% @db.execute 'insert into Tables 
				        ( start, end, krug, nomer_marshruta, mashins, tp_krug, t_mash) 
				        values (?, ?, ?, ?, ?, ?, ? )',
				         [@t0_str,@t1_str,j,@nomer_marshruta,@mashins.to_i,@tp_krug,@otvet] %>

				    <% end %>
			    </td>

			    <% @t0 = @t0 + @otvet.to_i * 60 %>
				<% @t1 = @t1 + @otvet.to_i * 60 %>
				 <% if (@t0 - @t3).abs < @otvet.to_i * 30 %>
			    		<% @t0 = @t3 %>
			    		<% @t1 = @t0 + @time_polkruga * 60 + @time_otdih * 60 %>
			    <% end %>

			<% end %>

			 <% if (@t3 -@t0) / (@otvet.to_i * 60) / (2 * @mashins.to_i) < 0.69 &&  (@t3 - @t0) / (@otvet.to_i * 60) / (2 * @mashins.to_i) > 0.5 %>
				     <%= "Opachki" %>
				     <% @otvet = (@t3 - @t0) / 60 / (@mashins.to_i - 1) %>
				     <% @otvet = @otvet.to_s %>
			 <% end %>

		</tr>
		<% break if @t0 > @t3 %>
		<% j += 1 %>
	<% end %>
	</tbody>
</table>
<br />

<form action="/tables" method="POST">

		
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Коментарий</label>
  <textarea name="coment" class="form-control" placeholder="Введите коментарий" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>	
<br />

<button type="submit" class="btn btn-primary">Прокоментировать</button>

</form>